<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://somos.lojaiplace.com.br/wp-content/uploads/2020/01/cinema-CRED-iStock_Roman-Valiev.jpg)">
  <p> Film Indicator 🎞</p>
</div>

<div class="cards">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tm.ibxk.com.br/2021/12/02/02070127889006.jpg?ims=1120x420)">
    <p>Action</p>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://amc-theatres-res.cloudinary.com/image/upload/v1603915920/amc-cdn/general/blog/marvel/mcu-will-be-changed-forever/AMC_PromoPost_2000x1427_1_Avengers.jpg)">
     <p>Adventure</p>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://noticiasdatv.uol.com.br/media/uploads/artigos_2021/new-line-senhor-dos-aneis-gollum-andy-serkis.jpg)">
     <p>Other Worlds</p>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cineclick-static.flixmedia.cloud/1280/100984a4-93a7-45b9-8b09-61f0b884f2e5.webp)">
     <p>Drama</p>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tm.ibxk.com.br/2022/04/05/05171253507453.jpg?ims=1200x675)">
     <p>Mystery</p>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://miro.medium.com/max/1013/1*Y1YsOwrkJkcxs65B8AEMQw.jpeg)">
     <p>Curious</p>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://deveserisso.com.br/blog/wp-content/uploads/2020/06/o-show-de-truman.jpg)">
     <p>Funny</p>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.squarespace-cdn.com/content/v1/631ad725be6a0b0252757c25/1663866493399-GXX1TFRUP3YK3YNFO3JN/entergalactic-jb-thumb.jpg?format=1000w)">
     <p>Romantic</p>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ntvb.tmsimg.com/assets/p22941322_b_h8_ac.jpg?w=1280&h=720)">
     <p>Series</p>
  </div>

  <%@lists.each do |e| %>
  <%= link_to list_path(e), id:"text" do %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=e.img_url%>)">
    <p id=""><%= e.name %></p>
    </div>
  <%end%>
  <%end%>
</div>

<div class = "newlist pb-3">
<%= link_to "Create a List", lists_new_path, class: "btn btn-primary" %>
</div>

<div class="banner">
<div class="container">
<h2 class = "">First Rails with Front-end.</h2>
<p>Application made to show capabilities of make a application using rails,
here i used a DB, and Seed Faker Gem to populate it with movies. You also can
import banners, from the WEB, and add some descripition and title to it. First you
have to create your lists with our list generator, wich works like creating movies
but only with prenamed categories. Hope you enjoy it. I know i could created this
already but i wanted to add some features.</p>
</div>
</div>
