<div class="new">
  <div class="container teste">
    <h2 class = ''>Profile List</h2>
    <%= simple_form_for(@list) do |f| %>
      <div class="inputs">
      <%= f.input :name, :label => 'Your Name, Please' %>
       <%= f.input :photo, as: :file, :label => 'Profile Pic' %>
      </div>
      <%= f.submit class: "btn btn-primary", id: "listpagebutton"%>
    <% end %>
  </div>
</div>
