<div class="new">
  <div class="container teste">
    <h2 class = ''>Custom list</h2>
    <%= simple_form_for(@list) do |f| %>
      <div class="inputs">
      <%= f.input :name, :label => 'List Name, Please' %>
      <%= f.input :img_url, :label => 'Image URL, Be creative!'%>
      </div>
      <%= f.submit class: "btn btn-primary", id: "listpagebutton"%>
    <% end %>
  </div>
</div>
